@media only screen and (max-width: 480px) {
    .treatments-item-container {
        min-height: 225px !important;
    }

    .about-background-image img {
        object-position: 0px -60px !important;
    }

    .home-banner-image-title h1 {
        font-size: 30px !important;
        line-height: 30px !important;
    }

    .home-banner-image-background {
        background-position-y: 50% !important;
    }

    .home-banner-text h2 {
        max-width: 94%;
        font-size: 18px;
        padding: 30px 5px 15px;
    } 

    .home-banner-text p {
        max-width: 94%;
    }
}